Contact:
matousc@gmail.com, cyril.oswald@gmail.com 
    

Structure of lessons:
- solution of tasks from the last lesson
- new stuff
- time to solve new tasks

# Python basics

## Variables

### Numbers and text

In [1]:
1+1 * 3 / 2

2.5

In [ ]:
type (2.5)

In [ ]:
3 // 2  #integer division

In [ ]:
2 / 1 #float division

In [ ]:
2 / 1 #float division
"""
Multiline 
comment
""" 

2/2
a =1
print(a) #print로 하면 output에 안뜸

In [ ]:
a="abc"
type(a)

In [2]:
dir("abc") # 이 타입에 쓸 수 있는 function

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
"abc".startswith("a")

In [ ]:
a[-2]

In [ ]:
a[:] # 전체다

### Containers

In [3]:
type([1,2,3])

list

In [5]:
[1.5,0.5]

[1.5, 0.5]

In [6]:
["abc",15,-0.3] #다양한 type combine 가능

['abc', 15, -0.3]

In [10]:
b = ["abc",15,-0.3]
b[2] = -0.6 #indexing
b

['abc', 15, -0.6]

In [11]:
(1,2,3) #그냥 출력..

(1, 2, 3)

In [12]:
type(1,2,3) #아무 타입도 아님

TypeError: type.__new__() argument 1 must be str, not int

In [13]:
(1,2,3)[1]=2

TypeError: 'tuple' object does not support item assignment

In [14]:
(1,2,3)[1] #이건 가능 reading 만 가능!! change는 불가능

2

In [15]:
a=(1,2,3) #variable 이긴하나 constant 는 아님.. a에 저장가능하나 상수는 아니다 이런느낌같음
a=1 #complite하게 av

In [ ]:
###dictionary
{} #요게 기호

In [21]:
a= {"name": "john", "age":"25"} #dictionary - data.table 같은 느낌

In [20]:
a["name"] # name 에 해당하는 value값 얻을 수 있음

'john'

In [23]:
b=[[1,2,[2,3]],"abc",{"name":"john"}] #엄청 복잡하게 list로 만들수 있음
b

[[1, 2, [2, 3]], 'abc', {'name': 'john'}]

In [26]:
{(1, 2):'john'}[(1,2)] #이거 좀 생각해보기 1-john / 2-john 매칭되니까 그러는듯!

'john'

In [28]:
b=[[1,2,[2,[1,2,[1,2]]]],"abc",{"name":"john"}] 
b[0][-1][-1][0] #이거도 생각해보기

1

In [29]:
#set
set([1,2,3])

{1, 2, 3}

In [32]:
set([4,1,2,3,2,3,(1,2)]) #순서대로, 중복제거 나열 =order과 같은 역할 같음 / ()가 제일 먼저감

{(1, 2), 1, 2, 3, 4}

## Conditions

In [33]:
True

True

In [34]:
a = false

NameError: name 'false' is not defined

In [41]:
a = False #bool이라고 output이 왜나오지..?

In [37]:
a == False

True

In [39]:
not a

True

In [44]:
a == True
a == 0 #0만 빼고 다 T / 0만 F

True

In [45]:
a = ["abc",1,12]
a == True

False

In [46]:
a = "abc"
if a:
    print("Yes")

Yes

In [47]:
a = "abc"
a == "ab"

False

In [48]:
a = 1
a < 2

True

In [49]:
a=1
a<2

True

In [51]:
a = 3
if a <2 : 
    print("Yes")
else: 
    print("No") # else 들여쓰기 위치 중요 (java처럼 더 들여쓰면 작동안함)

No

In [52]:
a = ""
if a : 
    print("Yes")
else: 
    print("No")

No

In [53]:
a = []
if a : 
    print("Yes")
else: 
    print("No")

No

In [54]:
a = [1,2]
if a : 
    print("Yes")
else: 
    print("No") #기본적으로 4칸 (tab 이용/ 그냥 enter치고 이동)

Yes

In [56]:
a = 3
if a <2 : 
    pass

print("Yes") #if조건에 있는것만 같은 자리에 들여쓰고 아닌거는 쓰면안댐
             #다른것처럼 {}해줄필요 전혀없음

Yes

In [64]:
a = 3
if a >= 2 : 
    print("Yes")
    print("!")
    if a == 2:
        print("No") #왜 근데 NO안나오지...?

Yes
!


## Loops

In [66]:
for idx in [1,2,3]:

SyntaxError: unexpected EOF while parsing (<ipython-input-66-4feeb8c01a4a>, line 2)

In [67]:
range(5,10)

range(5, 10)

In [70]:
for idx in range(15,20):
    print(idx**2)

225
256
289
324
361

In [ ]:
for idx in range(0,10):
    print(idx**2)

In [71]:

for idx in "abcdefokj":
    print(idx)

a
b
c
d
e
f
o
k
j

In [73]:
a=5
for idx in range(20): #idx 가 i같이 도는애
    a-=1.3
    print(a*2)

7.4
4.800000000000001
2.2000000000000006
-0.39999999999999947
-2.9999999999999996
-5.6
-8.2
-10.799999999999999
-13.399999999999999
-15.999999999999998
-18.599999999999998
-21.2
-23.8
-26.400000000000002
-29.000000000000004
-31.600000000000005
-34.2
-36.800000000000004
-39.400000000000006
-42.00000000000001

In [76]:
a=5

for idx, item in enumerate("ladkfjlkj"): #idx 가 i같이 도는애
    print(idx,item)

0 l
1 a
2 d
3 k
4 f
5 j
6 l
7 k
8 j

In [80]:
a="adfasdfd"
b="ekjwlkjr"

for idx, item in enumerate("ekjwlkjr"): #idx 가 i같이 도는애
    print(a[idx]+item)

ae
dk
fj
aw
sl
dk
fj
dr

In [82]:
a = 0
while a <5:
    a +=1
    print (a)

1
2
3
4
5

In [84]:
list(enumerate("abcd")) # 문자에 순서를 붙여서 다시 반환해주는..

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [85]:
 type(enumerate("abcdfs")) #enumerate 가 object

enumerate

In [86]:
for item in enumerate("abdsdf"):
    print(item)

(0, 'a')
(1, 'b')
(2, 'd')
(3, 's')
(4, 'd')
(5, 'f')

In [89]:
for idx, item in enumerate("abdsdf"):
    print(item)

a
b
d
s
d
f

TypeError: 'int' object is not iterable

In [88]:
for idx, item in range(len("abdfsd")):
    print(idx)  #왜안되지 연구해봐야겟다

TypeError: 'int' object is not iterable

In [92]:
for idx, item in enumerate([3,3,5,4]):
    print(idx)

0
1
2
3

In [91]:
a, b, c=(1,2,4)
print(b)

2